@import "./global.scss";
.container {
  width: 100%;
  overflow: hidden;
}
.ocean {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 634px;
  padding: 60px 24px 40px;
  background: url("../public/img/白色海浪.png") center bottom no-repeat,
    url("../public/img/底色.png") center center no-repeat;
  background-size: 1920px 600px, 1920px 634px;
  position: relative;
}
.firstText {
  color: #ffffff;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 8px;
  text-indent: 8px;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
}
.firstBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 57px;
  background: #b57556;
  // box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1rem;
  text-indent: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &::before{
    content: "";
    background: #b57556;
    width: 200px;
    height: 57px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
&::after{
    content: "";
    background: linear-gradient(124deg,#efdbc8, #e9c87f, #b2e1ea, #90cae5, 
    #f5caf4, #dfc9f9);
    background-size: 400%;
    width: 212px;
    height:73px;
    border-radius: 50px;
    filter: blur(5px);
    opacity: 1;
    position: absolute;
    z-index: -2;
    transition: all 0.3s ease-in-out;
    animation: move 20s linear infinite;
}
}
@keyframes move{
  0%{ background-position: 0 0; }
  50%{ background-position: 400% 0; }
  100%{ background-position: 0 0; }
}
.firstMain {
  width: 808px;
  height: 322px;
  background: #dae4f1;
  border: 2px solid #b57556;
  border-radius: 20px;
  padding: 24px 16px;
  color: #204379;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  h2 {
    line-height: 125%;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      width: 30px;
      height: 40px;
      display: block;
      position: absolute;
      background: url("../public/img/cactus.png") center center no-repeat;
      left: 40%;
      top: -10px;
    }
    &::after {
      content: "";
      width: 30px;
      height: 40px;
      display: block;
      position: absolute;
      background: url("../public/img/cactus.png") center center no-repeat;
      right: 40%;
      top: -10px;
    }
  }
  p {
    line-height: 140%;
  }
  span {
    font-weight: 600;
    text-decoration: underline;
  }
}
@media screen and (max-width:830px) {
  .firstMain{
    width: 720px;
    h2{
      &::before{
        left: 39%;
      }
      &::after{
        right: 39%;
      }
    }
  }
  
}
@media screen and (max-width:768px) {
  .firstMain{
    width: 500px;
    h2{
      &::before{
        left: 33%;
      }
      &::after{
        right: 33%;
      }
    }
  }
  
}
@media screen and (max-width:530px) {
  .ocean{
    height: 793px;
    background: url("../public/img/白色海浪.png") center bottom no-repeat,
    url("../public/img/底色.png") center center no-repeat;
    background-size: 100% 793px 100% 793px;
  }
  .firstMain{
    width: 366px;
    height: 489px;
    h2{
      &::before{
        left: 27%;
      }
      &::after{
        right: 27%;
      }
    }
  }
  
}
.sup{
  width: 80px;
  height: 64px;
  background: url('../public/img/sup.png') no-repeat center center;
  position: absolute;
  top: -30px;
  right: 10px;
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 62px;
    height: 45.75px;
    background: url('../public/img/船槳.png') no-repeat center center;
    bottom: 10px;
    right: 0;
    transform: rotate(15deg);
    animation: sup 1s linear infinite alternate;
  }
  .bubble{
    width: 80px;
    height: 64px;
    top: 0;
    right: 0;
    position: absolute;
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      background: url('../public/img/泡泡\ \(1\).png') no-repeat center center;
      right: 20px;
      // transform: translate(0px,-10px);
      animation: bubbleSmall 3s linear infinite;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('../public/img/泡泡.png') no-repeat center center;
      right: 25px;
      bottom: 35px;
      animation: bubbleBig 3s linear infinite;
      animation-delay: 3s;
    }
  }
}
@media screen and (max-width:530px){
  .sup{
    right: -10px;
  }
}
@keyframes bubbleSmall {
  0%{
    transform: translate(0px,0px);
    z-index: -1;
  }
  25%{
    transform: translate(0px,-15px);
    z-index: 1;
  }
  50%{
    transform: translate(10px,-30px);
  }
  100%{
    transform: translate(20px,-50px);
  }
}
@keyframes bubbleBig {
  0%{
    transform: translate(0px,0px);
    z-index: -1;
  }
  33%{
    transform: translate(0px,-15px);
    z-index: 1;
  }
  66%{
    transform: translate(10px,-25px);
  }
  100%{
    transform: translate(20px,-35px);
  }
}
@keyframes sup {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(30deg);
  }
}
.fireworks{
  width: 75px;
  height: 64.7px;
  background: url('../public//img/sup煙火.png') no-repeat center center;
  position: absolute;
  bottom: -40px;
  left: 30px;
  &::before{
    content: '';
    display: block;
    position: absolute;
    background: url('../public/img/煙火.png') no-repeat center center;
    width: 58px;
    height: 58px;
    left: -30px;
    bottom: -5px;
    z-index: 5;
    animation: fire 1.5s linear infinite;
  }
}
@media screen and (max-width:530px){
  .fireworks{
    left: 10px;
  }
}
@keyframes fire {
  0%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(0.8);
    opacity: 0.8;
  }
  100%{
    transform: scale(1);
    opacity: 0.4;
  }
}
.waves {
  width: 200%;
  height: 110px;
  // transform: translateX(-200px);
  background: url("../public/img/海浪.png");
  animation: theWaves 2s linear infinite;
  animation-fill-mode: both;
}
@keyframes theWaves {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-70px);
  }
}
.second {
  margin-top: -5px;
  padding: 60px 0;
  width: 100%;
  background-color: #e2d9d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  fieldset {
    width: 808px;
    padding-bottom: 20px;
    background: #ffffff;
    border: 2px solid #b57556;
    box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
    border-radius: 16px;
    legend {
      letter-spacing: 10px;
      text-align: center;
      color: #b57556;
      font-weight: 600;
      padding: 10px 20px;
      width: 123px;
      background: #ffffff;
      border: 2px solid #b57556;
      box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
      border-radius: 50px;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 63px;
        width: 60px;
        background: url("../public/img/turtle.png") no-repeat center center;
        top: -15px;
        right: -40px;
        animation: turtle 1s linear infinite alternate;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    label {
      color: #204379;
      margin-bottom: 10px;
      &::after {
        content: "*";
        color: red;
      }
    }
    select,
    input,
    datalist {
      height: 57px;
      border: none;
      outline: none;
      border: 1px solid #204379;
      border-radius: 20px;
      padding: 8px 16px;
      &:focus{
        border: 3px solid #93BBF9;
      }
    }
    // input:focus{
    //   border: 3px solid #93BBF9;
    // }
    select {
      appearance: none;
      background: url("../public/img/dropdown.png") no-repeat center right 10px;
    }
    span {
      height: 12px;
      font-size: 10px;
      color: red;
      margin: 5px 0 0 10px;
    }
  }
  .default {
    border: none;
    padding: 16px 20px;
    width: 200px;
    height: 57px;
    background: #b57556;
    box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35),
      0px -4px 10px rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    letter-spacing: 5px;
    text-indent: 10px;
    animation: submit 1s linear infinite alternate;
    position: relative;
    +p{
      height: 16px;
      color: #E06D6D;
      margin-top: 15px;
    }
  }
  .failure{
    color: #FFE3E3;
    text-indent: 30px;
      &::before{
        content: '';
        display: block;
        position:absolute;
        width: 24px;
        height: 24px;
        background: url('../public/img/failure.png') no-repeat center center;
        top: 17px;
        left: 30px;
    }
  }
  .success{
    color: #E6FFB1;
    text-indent: 30px;
    &::before{
      content: '';
      display: block;
      position:absolute;
      width: 24px;
      height: 24px;
      background: url('../public/img/success.png') no-repeat center center;
      top: 17px;
      left: 30px;
  }
  }
}
@media screen and (max-width:830px) {
  .second{
    fieldset{
      width: 720px;
    }
  }
  
}
@media screen and (max-width:768px) {
  .second{
    fieldset{
      width: 500px;
    }
  }
  
}
@media screen and (max-width:530px){
  .second{
    fieldset{
      width: 366px;
    }
  }
}
@keyframes turtle {
  0%{
    transform: rotate(-15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes submit{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1)
  }
}
.three {
  width: 100%;
  background: url("../public/img/抽獎沙子.png") no-repeat center center;
  background-size: 100% 100%;
  background-color: #e2d9d3;
  padding: 70px 0 50px;
}
.badgeWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 598px;
  height: 451px;
  margin: 0 auto;
  span {
    display: block;
    width: 178px;
  }
  .badge {
    width: 178px;
    height: 112px;
    background: #ffffff;
    box-shadow: 0px 8px 0px #edeef0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    position: relative;
    h5 {
      color: #b3b960;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      text-indent: 1px;
    }
    .badgeImg {
      width: 65.34px;
      height: 78px;
      background: url("../public/img/certificateA.png") no-repeat center center;
      text-align: center;
      color: #ffffff;
      line-height: 65px;
      position: absolute;
      top: -25px;
    }
    .one {
      width: 45px;
      height: 23px;
      background: #fafafa;
      border: 1px solid #b3b960;
      border-radius: 50px;
      color: #b3b960;
      font-size: 12px;
      text-align: center;
      line-height: 23px;
      position: absolute;
      top: 18px;
      right: 8px;
    }
    &:nth-child(n + 4) {
      .badgeImg {
        background: url("../public/img/certificateD.png") no-repeat center
          center;
        line-height: 78px;
      }
      h5 {
        color: #a0bcc8;
      }
      .one {
        border: 1px solid #a0bcc8;
        color: #a0bcc8;
      }
    }
  }
}
@media screen and (max-width:640px){
  .badgeWrap{
    width: 382px;
    height: 700px;
  }
}
.four {
  width: 100%;
  background-color: #e2d9d3;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fourText {
    width: 274px;
    height: 84px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    h5 {
      color: #b57556;
    }
    p {
      color: #204379;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid #204379;
      height: 75px;
      top: 0;
      left: 15px;
      transform: rotate(-15deg);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid #204379;
      height: 75px;
      right: 15px;
      top: 0;
      transform: rotate(15deg);
    }
  }
  .lightHouse {
    width: 56px;
    height: 194px;
    background: url("../public/img/lighthouse.png") no-repeat center center;
  }
}
.fiveWrap {
  width: 100%;
  background-color: #e2d9d3;
}
.five {
  width: 100%;
  padding: 40px 19px;
  background-color: #204379;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  p {
    width: 303px;
    height: 80px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.2em;
  }
  .market {
    width: 376px;
    height: 493px;
    background: url("../public/img/market.png") no-repeat center center;
  }
  &::before{
    content: '僅為面試使用';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
